<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068447590071-ibn04ea50khsi7r5g8td3kuuak3vr21v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068447590071-ibn04ea50khsi7r5g8td3kuuak3vr21v</string>
	<key>API_KEY</key>
	<string>AIzaSyCdqyf6IZX6pg7yDs0ebicHf62sIKehtbw</string>
	<key>GCM_SENDER_ID</key>
	<string>1068447590071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rickAndMorty.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rickandmorty-2253a</string>
	<key>STORAGE_BUCKET</key>
	<string>rickandmorty-2253a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068447590071:ios:2f8f55fe6ae06ca1438f32</string>
</dict>
</plist>